MONGODB_URI=
MONGODB_DB=
DB_MANAGER_PASSWORD=
DB_MANAGER_SESSION_SECRET=
DB_MANAGER_SESSION_TTL_SECONDS=604800
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_R2_BUCKET=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_R2_PUBLIC_BASE_URL=
